<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    
<title>Insert title here</title>
</head>
<body>
<!-- Navbar -->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
           <lord-icon class="lordicon"
    src="https://cdn.lordicon.com/fyhanzjw.json"
    trigger="loop"
    colors="primary:#c79816,secondary:#a5e830">
</lord-icon><h1>Grocery</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/homelogin">Home</a>
                </li>
               
      <li class="nav-item active">
        <a class="nav-link" href="#">About </a>
      </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                  </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">      
                <a href="/home" class="btn btn-light my-2 my-sm-0 mr-1" type="submit">LogOut</a>    </form>
  </div>
  </nav>
  </section>
 <div class="container"> 
   <h1>Nuts & Seeds</h1>
   <div id="alerts"></div>
<div class="productcont mt-5">
        <div class="product">
        	<img th:src="@{/images/Icons/seeds/chickpea.jpg}" class="product-img">
            <h3 class="productname">Chickpea</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-160</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        <img th:src="@{/images/Icons/seeds/coffee.jpg}" class="product-img">
            <h3 class="productname">Coffee</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-500</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/Icons/seeds/fenugreek.jpg}" class="product-img">
            <h3 class="productname">Fenugreek</h3>
            <p>Product description excerpt...</p>
            <p class="price">INT-250</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/Icons/seeds/mustard.jpg}" class="product-img">
            <h3 class="productname">Mustards</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-200</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/Icons/seeds/pea.jpg}" class="product-img">
            <h3 class="productname">Pea</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-280</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/Icons/seeds/peanut.jpg}" class="product-img">
            <h3 class="productname">Peanuts</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-120</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/Icons/seeds/redgram.jpg}" class="product-img">
            <h3 class="productname">Red grams</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-70</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/Icons/seeds/sesame.jpg}" class="product-img">
            <h3 class="productname">Sesame</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-300</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/Icons/seeds/soybeans.jpg}" class="product-img">
            <h3 class="productname">Soy beans</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-180</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/Icons/seeds/wallnuts.jpg}" class="product-img">
            <h3 class="productname">Wallnuts</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-400</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/Icons/seeds/wheat.jpg}" class="product-img">
            <h3 class="productname">Wheat</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-45</p>
            <button class="addtocart">Add To Cart</button>
        </div>
         <div class="product">
        	<img th:src="@{/images/Icons/seeds/cashew.jpg}" class="product-img">
            <h3 class="productname">Cashews</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-1000</p>
            <button class="addtocart">Add To Cart</button>
        </div>
         <div class="product">
        	<img th:src="@{/images/Icons/seeds/almond.jpg}" class="product-img">
            <h3 class="productname">Almonds</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-1500</p>
            <button class="addtocart">Add To Cart</button>
        </div>
         <div class="product">
        	<img th:src="@{/images/Icons/seeds/pista.jpg}" class="product-img">
            <h3 class="productname">Pistachios</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-2000</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        </div>
        <div class="cart-container">
          <h2>Cart</h2>
          <table>
            <thead>
              <tr>
              <th><strong>Product</strong></th>
              <th><strong>Price</strong></th>
            </tr>
            </thead>
            <tbody id="carttable">
            </tbody>
          </table>
          <hr>
          <table id="carttotals">
            <tr>
              <td><strong>Items</strong></td>
              <td><strong>Total</strong></td>
            </tr>
            <tr>
              <td>x <span id="itemsquantity">0</span></td>
             
              <td>INR<span id="total">0</span></td>
            </tr></table>

            
          <div class="cart-buttons">  
            <button id="emptycart">Empty Cart</button>
            <a href="/checkout"><button id="checkout">Checkout</button></a>
          </div>
        </div>
</div>

  
 
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
</body>
</html>